@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

/*--------------------*/
/*---------------------------------------*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: "Cormorant Garamond";
  font-weight: regular;
  font-size: 24px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1245px;
  margin: 0 auto;
  padding: 0 15px;
}

/*---header-----------------------------*/
.header {
  background-color: #fff;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
}

.header__row {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  min-width: 90px;
  width: 122px;
  height: 63px;
  margin-right: 15px;
}
.logo img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.menu li a {
  white-space: nowrap;
  padding: 5px;
  color: #B08EAD;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.menu li a:hover {
  border-bottom: 5px solid #B08EAD;
}
.menu li a:active {
  color: #964c91;
  border-bottom: 5px solid #964c91;
}
.menu li:not(:last-child) {
  margin-right: 30px;
}

.menu__arrow {
  display: none;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 5%;
  background: #D6BBD3;
  min-width: 220px;
  max-width: 350px;
  padding: 15px;
}
.menu__sub-list li a {
  max-width: 100px;
  color: #fff;
  line-height: 45px;
}
.menu__sub-list li {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
}

/*---Hero----------------------------*/
.hero__bg {
  background: #cfb4cc;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #cfb4cc), color-stop(50%, #c9adc6), to(#d6bbd3));
  background: -o-linear-gradient(bottom, #cfb4cc 50%, #c9adc6 50%, #d6bbd3 100%);
  background: linear-gradient(360deg, #cfb4cc 50%, #c9adc6 50%, #d6bbd3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfb4cc", endColorstr="#d6bbd3", GradientType=1);
}

.hero__row {
  overflow: hidden;
  margin-top: 100px;
  min-height: calc(100vh - 100px);
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 0;
  left: 0;
}
.hero__row span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #B08EAD;
}
.hero__row::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 50px;
  height: 50px;
  background-color: #A78BA4;
}

.hero__pillow {
  max-width: 850px;
  max-height: 675px;
  position: absolute;
  left: 7%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.hero__pillow img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero__body {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.glass {
  width: 100%;
  color: #fff;
  max-width: 425px;
  height: 450px;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  -webkit-box-shadow: 0 0 15px #D6BBD3;
          box-shadow: 0 0 15px #D6BBD3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.slogan {
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.5px;
  border-bottom: 10px;
}

.glass h1 {
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 20px;
}

.buy-now {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: Roboto;
  font-size: 14px;
  padding: 5px 0;
  border-bottom: 2px solid #fff;
}

/*---Navigation-------------------------*/
.navigation {
  text-align: center;
  padding-top: 70px;
  margin-bottom: 75px;
}

.navigation__slogan {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #B08EAD;
}

.navigation__title {
  display: inline-block;
  max-width: 747px;
  font-size: 26px;
  line-height: 38px;
  color: #5F4D5D;
  margin-bottom: 15px;
}

.learn-more {
  display: inline-block;
  font-family: Roboto;
  font-size: 11px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #B99BB6;
  padding: 15px 30px;
  border-radius: 25px;
  border: 1px solid #B08EAD;
  margin-bottom: 50px;
}

.navigation__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blocks__item {
  background-color: #D6BBD3;
  width: 368px;
  height: 427px;
  margin: 0 10px 25px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blocks__item img {
  width: 368px;
  height: 314px;
  -o-object-fit: contain;
     object-fit: contain;
}

.navigation__item-title {
  text-align: start;
  padding: 23px 0 10px 25px;
  color: #fff;
  font-size: 25px;
}

.navigation__item-subtitle {
  text-align: start;
  padding: 5px 25px 15px 25px;
  color: #fff;
  font-size: 17px;
}

/*---About-me--------------------------*/
.about-me {
  background-color: #D6BBD3;
}

.about-me__row {
  padding: 0 50px;
  height: 100vh;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  top: 0;
  left: 0;
}

.about-me__body {
  background-color: #B08EAD;
  width: 700px;
}

.about-me__photo {
  max-width: 800px;
  max-height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-30%, -50%);
      -ms-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
}
.about-me__photo img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*---Menu-sublist-----------------------*/
body._pc .menu > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: all;
}

body._touch .menu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._touch .menu__arrow {
  display: block;
  margin-left: 5px;
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #B08EAD;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body._touch .menu > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: all;
}

body._touch .menu > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/*---Media------------------------------*/
@media (min-width: 767px) {
  .menu__sub-list {
    -webkit-transform: translate(0, 20px);
        -ms-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu > li {
    padding: 10px 0;
  }
}
@media (max-width: 815px) {
  .blocks__item {
    background-color: #D6BBD3;
    width: 90%;
    height: 100%;
  }
  .blocks__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .about-me {
    background-color: transparent;
  }

  .about-me__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }

  .about-me__body {
    height: 100vh;
    max-width: 100vw;
    background: url(../img/about-me.png) 50% 50% no-repeat;
    background-size: cover;
  }

  .about-me__photo {
    display: none;
  }

  .menu {
    display: none;
  }
}